<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-4">
        <h1>新しい家族になってあげて下さい！</h1><br>
        <h3>里親様を募集しています。</h3><br>
        <p style="color:red">【禁止事項】中傷や荒らし行為はやめて下さい</p>
      </div>
    </div>
  </div>
</main>